{% comment %}
  Re-use the 'rte' class wherever you output content that was added by a merchant using the Rich Text Editor ( 'rte' stands for rich text editor ).
  Style all HTML elements in that content the same way across the board.
  Use the 'rte' class in your CSS to help maintain that consistency.
  Example: the h2 element should have the same size and color in:
  - product descriptions
  - collection descriptions
  - page content
  - blog posts
{% endcomment %}

{% comment %} 
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign numbers = 'zero, one, two, three, four, five, six' | split: ',' %}
{% assign products_per_row = '2' | times: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}
{% assign disable_product_copy = true %}


<div class="carousel">
  <div class="carousel-copy">
    <h10>Welcome</h10>
    <h11>Fjordlife is a womenswear and clean beauty brand. We source the globe for beautiful, innovative products with meaningful impact and aim to show you the stories behind them.</h11>
    <br>
    <h11>READ MORE</h11>
  </div>
  
  <div class="slides">
    <div data-slide="1" class="slide slide1 on">
    </div>
    <div data-slide="2" class="slide slide2 off"></div>
    <div data-slide="3" class="slide slide3 off"></div>
  </div>
  <div class="nav">
    <div class="arrow left"></div>
    <div class="arrow right"></div>
    <div class="dots">
      <div data-dot="1" class="dot dot1 on"></div>
      <div data-dot="2" class="dot dot2 off"></div>
      <div data-dot="3" class="dot dot3 off"></div>
    </div>
  </div>
</div>

{{ 'carousel.js' | asset_url | script_tag }}
<script>Carousel.i();</script>

<div class="col1 col"> 
  <div class="discover block">
    <h2>{{ blogs.home.articles[3].title }}</h2>
    <div class="content">
      <img src="{{ blogs.home.articles[3] | img_url: 'original' }}">
      {{ blogs.home.articles[3].content }}
    </div>
  </div>
  <div class="clean-beauty block">
    <h2>{{ blogs.home.articles[2].title }}</h2>
    <div class="content">
      <img src="{{ blogs.home.articles[2] | img_url: 'original' }}">
      {{ blogs.home.articles[2].content }}
    </div>
  </div>
</div>

<div class="col2 col">
  <div class="shop block">
    <h2>{{ blogs.home.articles[1].title }}</h2>
    <div class="content">
      <img src="{{ blogs.home.articles[1] | img_url: 'original' }}">
      {{ blogs.home.articles[1].content }}
    </div>
  </div>
  <div class="learn block">
    <h2>{{ blogs.home.articles[0].title }}</h2>
    <div class="content">
      <img src="{{ blogs.home.articles[0] | img_url: 'original' }}">
      {{ blogs.home.articles[0].content }}
    </div>
  </div>
</div>

<div class="col3 col">
  <div class="shop-favorites block">
    <h8>SHOP OUR <br> FAVORITES</h8>
    <div class="col3-content">
      <ul class="grid clearfix">
      {% for product in collections.featured.products limit:4 %}
        {% include 'product-grid-item' with products_per_row %}
      {% else %}
        <p>There are no products in this view.</p>
      {% endfor %}
      </ul>
    </div>
  </div>
  <hr />
  <div class="blog block">
    <h8>FJORDLIFE <br> BLOG</h8>
    <div class="col3-content"> 
      {% for article in blogs.news.articles limit:2 %}
      <div class="article">
          <div class="left blog-img">
            <img src="{{ article | img_url: 'large' }}">
          </div>
          <p>
            {{ article.title }}
          </p>
          <p>
            <a href="{{ article.url }}">READ MORE</a>
          </p>
          <div class="clear"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'instagram' %}


