<div id="header" style="background-image:url('{{ collections[page.handle].image.src | img_url: 'original' }}')">
  <div class="header_copy">
    <h4>{{ page.title }}</h4>
    <h5>DESIGNER SPOTLIGHT</h5>
  </div>
</div>

{% if collections[page.handle].description.size > 0 %}
<div class="rte clearfix">
<div class="left">
  <div class="collection-desc-header">
    <h2>Meet the ladies behind</h2>
    <h1>{{ page.title }}</h1>
  </div>
  {{ page.content }}
</div>

<div class="left designer-image">
{{ page.metafields.custom_fields.extra_image }}
</div>
</div>
{% endif %}
<div class="hr"></div>
<div class="recommendations">
  <h7>Like what you hear? Shop the cause.</h7>
  <ul class="grid clearfix">
  {% for product in collections[page.handle].products limit:4 %}
    {% include 'product-grid-item' with products_per_row %}
  {% else %}
    <p>There are no products in this view.</p>
  {% endfor %}
  </ul>
</div>
