<div class="ethos">
  <div class="ethos_header" id="header_1">
    <div class="header_copy">
      <h10>Welcome</h10>
      <h11>Fjordlife is a womenswear and clean beauty brand. We source the globe for beautiful, innovative products with meaningful impact and aim to show you the stories behind them.</h11>
    </div>
  </div>
  <div class="ethos_statement">
    <h15>&ldquo;Fashion is the ultimate way to express yourself. It is a creative, artistic and innovative endeavor. It is FUN and should be celebrated - it shouldn’t come at the cost to people or the environment.&rdquo;</h15>
    <p class="author">&mdash; BRITTANY HAAVALDSRUD, FOUNDER OF FJORDLIFE</p>
  </div>
  <div class="ethos_block">
    <div class="block_image" id="ethos_image"></div>
    <div>
      <h16>OUR ETHOS</h16>
      <p>
      At Fjordlife see ourselves as STORYTELLERS. We want you to know the stories behind your purchase. We source the globe to find brands who are pioneer-ing a new way of doing things, business practices you can be proud of. We do the sourcing for you so you
      can shop guilt free.
      </p>
    </div>
  </div>
  <div class="ethos_block">
    <div>
      <h16>OUR BRANDS</h16>
      <p>
        <ul>
          <li>Honour traditional artisan craftsmen and cultures</li>
          <li>Emphasis the greater good</li>
          <li>Take efforts to protect the environment</li>
          <li>Empower and respect people producing the product</li>
          <li>Deliver simplicity, authenticity and performance</li>
        </ul>
        One day we hope every choice offered is a sustainable one, but for now we are committed to offering a highly curated selection of brands who are championing a new way of doing business. A place where style meets ethics — and don’t they look good together.
      </p>
    </div>
    <div class="block_image" id="brand_image"></div>
  </div>
  <div class="ethos_header" id="header_2">
    <div class="header_copy">
      <h10>What’s with our name?</h10>
      <h11>Fjords are pure, pristine and beautiful - exactly how we want to live our life</h11></div>
    </div>
  <div>
    <div class="ethos_cols col"> 
      <div class="discover block">
        <h2>{{ blogs.home.articles[3].title }}</h2>
        <div class="content">
          <div class="home-block-image">
            <img src="{{ blogs.home.articles[3] | img_url: 'original' }}">
          </div>
          {{ blogs.home.articles[3].content }}
        </div>
      </div>
      <div class="clean-beauty block">
        <h2>{{ blogs.home.articles[2].title }}</h2>
        <div class="content">
          <div class="home-block-image">
            <img src="{{ blogs.home.articles[2] | img_url: 'original' }}">
          </div>
          {{ blogs.home.articles[2].content }}
        </div>
      </div>
      <div class="shop block">
        <h2>{{ blogs.home.articles[1].title }}</h2>
        <div class="content">
          <div class="home-block-image">
            <img src="{{ blogs.home.articles[1] | img_url: 'original' }}">
          </div>
          {{ blogs.home.articles[1].content }}
        </div>
      </div>
    </div>
  </div>
  <div class="ethos_stand_for">
    <h3>Now that you know what we stand for — what are you waiting for?</h3>
    <a href="/collections/all"><button>START SHOPPING</button></a>
  </div>
</div>
