<div class="ethos">
  <div class="ethos_header" id="header_1">
    <div class="header_copy">
      <h10>Welcome</h10>
      <h11>Fjordlife is a womenswear and clean beauty brand. We source the globe for beautiful, innovative products with meaningful impact and aim to show you the stories behind them.</h11>
    </div>
  </div>
  <div class="ethos_statement">
    <h15>&ldquo;Fashion is the ultimate way to express yourself. It is a creative, artistic and innovative endeavor. It is FUN and should be celebrated - it shouldn’t come at the cost to people or the environment.&rdquo;</h15>
    <p class="author">&mdash; BRITTANY HAAVALDSRUD, FOUNDER OF FJORDLIFE</p>
  </div>
  <div class="ethos_block">
    <div class="block_image" id="ethos_image"></div>
    <div>
      <h16>WHO WE ARE</h16>
      <p>At Fjordlife, we see ourselves as story tellers. We want you to know the stories behind your purchase and feel a deeper connection to the places they come from. Fjordlife focuses on mindful and honest business practices that drive every decision we make - from partnering with designers that provide fair employment, to supply chain transparency, and sustainability.</p>
    </div>
  </div>
  <div class="ethos_block">
    <div>
      <h16>WE OFFER</h16>
      <p>GLOBAL INSPIRED SOURCING</p>
      <p>Rich in origin, crafted with quality and steeped in tradition - we source the globe to find brands that honour and preserve traditional artisan craftsmanship and cultures and celebrate the very best the world has to offer.</p>

      <p>HONEST INTENTIONS</p>
      <p>We work with brands that provide meaningful impact and place emphasis on the greater social good. Our brands respect the people who are making the protect, contribute to the countries they source from, and take real efforts to reduce their environmental impact.</p>

      <p>THOUGHTFUL DESIGN</p>
      <p>We focus on quality, aesthetic and craftsmanship. We are drawn to designers that incorporate sustainable and innovative elements without compromising style. And we source natural beauty products that deliver simplicity and performance.</p>

    </div>
    <div class="block_image" id="brand_image"></div>
  </div>

  <div class="ethos_block">

    <div class="block_image" id="waterfall_image"></div>

    <div>
      <h16>OUR DREAM</h16>
      <p>One day we hope every choice offered is a sustainable one, but for now we are committed to collaborating with designers who have a vision for beautiful, innovative products with meaningful impact. We offer a highly curated selection of brands who are championing a new way of doing business. A place where style meets ethics —  and don’t they look good together.</p>
      <p>“We have partnered with designers who are doing such wonderful things to improve the standards of the design industry. Fjordlife allows us to not only highlight their innovative designs but also share with you the impact behind the product.” founder Brittany Haavaldsrud</p>
    </div>

  </div>

  <div class="ethos_block ethos_full">
    <h16>WE WANT TO MEET YOU</h16>
    <p>Share your feedback, questions and stories with us.  We’d love to see how you styled our product using #FJLstyle  Show us what you’re up to and follow along on our adventure</p>
    <h16>CAN WE HELP?</h16>
    <p>
      We love nothing more than hearing from you!<br />
      Have a question, concern or feedback?<br />
      Reach out to us at anytime!<br />
    </p>
  </div>
  <!--
  <div class="ethos_header" id="header_2">
    <div class="header_copy">
      <h10>What’s with our name?</h10>
      <h11>Fjords are pure, pristine and beautiful - exactly how we want to live our life</h11>
    </div>
  </div>
  -->
  <div>
    <div class="ethos_cols col"> 
      <div class="discover block">
        <h2>{{ blogs.home.articles[3].title }}</h2>
        <div class="content">
          <div class="home-block-image">
            <img src="{{ blogs.home.articles[3] | img_url: 'original' }}">
          </div>
          {{ blogs.home.articles[3].content }}
        </div>
      </div>
      <div class="clean-beauty block">
        <h2>{{ blogs.home.articles[2].title }}</h2>
        <div class="content">
          <div class="home-block-image">
            <img src="{{ blogs.home.articles[2] | img_url: 'original' }}">
          </div>
          {{ blogs.home.articles[2].content }}
        </div>
      </div>
      <div class="shop block">
        <h2>{{ blogs.home.articles[1].title }}</h2>
        <div class="content">
          <div class="home-block-image">
            <img src="{{ blogs.home.articles[1] | img_url: 'original' }}">
          </div>
          {{ blogs.home.articles[1].content }}
        </div>
      </div>
    </div>
  </div>
  <div class="ethos_stand_for">
    <h3>Now that you know what we stand for — what are you waiting for?</h3>
    <a href="/collections/all"><button>START SHOPPING</button></a>
  </div>
</div>
